body {
background-color: #d2c6a0;
}

.header {
 border-bottom:solid thin #403a27;
}

h1{
  color:#837b6b;
}

.container{
 width:30em;
 margin:0 auto;
 float:none;
}

.main-container{
    display:block;

}
.sidebar{
    float:left;
    margin-right: 1em;
    border-right: solid thin  #403a27;
}

.submit-button{
 padding: 1em;
 margin: 1px;
 border-radius:5px;
 border: solid thin  #403a27;
 background-color: #e3f07b;
}

.a-result{
  padding: 1em;
  margin: 1px;
  border-radius:5px;
  border: solid thin #403a27;
  background-color:#aadd8a;
}

.add-result{
 margin-top: 1em;
 border-top: solid thin #403a27;
}

.refresh-button{
 padding: 1em;
 background-color:#e3f07b;
 width:1em;
   border-radius:5px;
   border: solid thin #403a27;
}